<footer class="page-footer font-small bg-white text-dark pt-4">
  <hr>
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

        <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
        <style>
        .tabfot {
            display: inline-block;
            margin-left: 25px;
        }
    </style>
        <p>Download Sekarang<span class="tabfot"></span>License</p>
          <p>
            <p>Promo UMKM<span class="tabfot"></span>Daftar UMKM<span class="tabfot"></span></p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"></h6>
        <p>
          <a href="#!"></a>
        </p>
        <p>
          <a href="#!"></a>
        </p>
        <p>
          <a href="#!"></a>
        </p>
        <p>
          <a href="#!"></a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"></h6>
        <p>
          <a href="#!"></a>
        </p>
        <p>
          <a href="#!"></a>
        </p>
        <p>
          <a href="#!"></a>
        </p>
        <p>
          <a href="#!"></a>
        </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"></h6>
        
          
          <div class="col-md-7 col-4"><p>
            Dapatkan Aplikasinya
            <img src="https://3.bp.blogspot.com/-zxXOgeQ5-0A/XD5vwB4CtTI/AAAAAAAAG4c/fFMrXH-ZFZkkVlzkgB6dvRJMUwfDgACWACK4BGAYYCw/s1600/Icons%2BApp%2BStore%2BGoogle%2Bplay.png" class="w-100"></p>
          </div>
        
      </div>
    </div>
    
    <div class="container d-flex align-items-center">
      <div class="col-md-7 col-lg-8">
        <p href="http://ridhomr.github.io" class="text-center text-md-left">© 2020 Landify Ui Kit. All right  reserved<a href="http://ridhomr.github.io">ridhomr</a></p>
      </div>
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>